body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Dark background color */
    color: #fff; /* Light text color */
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #000; /* Black color */
    padding: 1em 0;
}

.header h1, .header p {
    margin: 0;
    color: #fff; /* Light text color */
}

.navbar {
    background-color: #2c3036; /* Darker color */
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #28a745; /* Green color */
}

.main {
    margin: 20px 0;
}

.card {
    background-color: #2c3036; /* Darker color */
    border: 1px solid #555; /* Dark border color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #28a745; /* Green color */
}

.card-text.text-muted {
    color: #6c757d; /* Gray color */
}

.footer {
    background-color: #343a40; /* Dark color */
    color: #fff;
    padding: 1em 0;
}
